output/
win32port/ipch/
win32port/Debug*/
win32port/Release*/
win32port/server/Debug*/
win32port/server/Release*/
win32port/client/Debug*/
win32port/client/Release*/
win32port/libwebsocketswin32/Debug*/
win32port/libwebsocketswin32/Release*/
win32port/zlib/Debug*/
win32port/zlib/Release*/
*.vcxproj.user
*.opensdf
*.sdf
*.suo
.libs
.deps
*.o
*.lo
*.la
libtool
test-server/libwebsockets-test-client
test-server/libwebsockets-test-fraggle
test-server/libwebsockets-test-ping
test-server/libwebsockets-test-server
test-server/libwebsockets-test-server-extpoll
m4
stamp-h1
autom4te.cache
Makefile
config.h
config.log
config.status
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
install-sh
libwebsockets-api-doc.html
ltmain.sh
